/*------------ Body --------------*/
body {
    margin: auto;
}

.main-container {
    text-align: center;
}

.main-container h1 {
    padding: 20px 0;
    font-size: 20px;
}

.forgot-box h2 {
    margin: auto;
    color: #3e3e3e;
    padding: 20px 0;
}

.forgot-box {
    padding: 0;
    background: #efefef;
    border-radius: 10px;
    box-shadow: 0 0 10px #3e3e3e;
    margin-left: 50%;
    transform: translate(-50%, 0%);
}

.user-box {
    margin-bottom: 20px;
}

/*.forgot-box .user-box input {*/
/*    position: relative;*/
/*    width: 100%;*/
/*    padding: 5px 0;*/
/*    font-size: 16px;*/
/*    color: #3e3e3e;*/
/*    border: none;*/
/*    border-bottom: 1px solid #3e3e3e;*/
/*    outline: none;*/
/*    background: transparent;*/
/*}*/

/*.forgot-box .user-box label {*/
/*    position: relative;*/
/*    font-size: 16px;*/
/*    color: #3e3e3e;*/
/*    pointer-events: none;*/
/*    transition: .5s;*/
/*}*/

/*.submit-button {*/
/*    padding: 10px 20px;*/
/*    color: lightgreen;*/
/*    font-size: 16px;*/
/*    text-decoration: none;*/
/*    text-transform: uppercase;*/
/*    overflow: hidden;*/
/*    transition: .5s;*/
/*    letter-spacing: 4px;*/
/*    border: 2px solid lightgreen;*/
/*    border-radius: 8px;*/
/*    transform: translateX(90%);*/
/*    cursor: pointer;*/
/*}*/

/*.submit-button:hover {*/
/*    box-shadow: 0 0 5px lightgreen;*/
/*}*/

/*#login {*/
/*    font-size: 15px;*/
/*    text-transform: none;*/
/*    margin: auto;*/
/*    padding-top: 15px;*/
/*    width: 60%;*/
/*    text-align: center;*/
/*}*/

/*#login a {*/
/*    margin: auto;*/
/*    color: mediumpurple;*/
/*    text-decoration: none;*/
/*}*/

/* Use a media query to add a breakpoint at 500px: */
@media screen and (max-width: 500px) {
    .forgot-box {
        width: 320px;
    }
}