/*------------ Body --------------*/
body {
    margin: auto;
}

.main-container {
    text-align: center;
}

.main-container h1 {
    padding: 20px 0;
    font-size: 20px;
}

.forgot-box h2 {
    margin: auto;
    color: #3e3e3e;
    padding: 20px 0;
    font-size: 18px;
}

.forgot-box {
    padding: 0;
    background: #efefef;
    border-radius: 10px;
    box-shadow: 0 0 10px #3e3e3e;
    margin-left: 50%;
    transform: translate(-50%, 0%);
    margin-bottom: 30px;
}

.user-box {
    margin-bottom: 20px;
    display: block;
}

.user-box div {
    text-align: left;
    padding-left: 10%;
}

.user-box label {
    font-size: 16px;
    color: #3e3e3e;
}

.user-box input {
    width: 80%;
    padding: 5px 0;
    font-size: 16px;
    color: #3e3e3e;
    border: none;
    border-bottom: 1px solid #3e3e3e;
    outline: none;
    background: transparent;
}

.submit-button {
    padding: 10px 20px;
    color: lightgreen;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: 4px;
    background-color: white;
    border: 2px solid lightgreen;
    border-radius: 8px;
    transition: .5s;
    transform: translate(0%, 0%);
    cursor: pointer;
    margin-bottom: 20px;
}

.submit-button:hover {
    box-shadow: 0 0 8px lightgreen;
    transform: scale(0.95);
}

/* Use a media query to add a breakpoint at 500px: */
@media screen and (max-width: 500px) {
    .forgot-box {
        width: 320px;
    }
}