/*------------ Main ------------*/

/*Headline part*/
.headline {
    text-align: center;
    padding: 10px;
}

.headline p {
    font-size: 20px;
}

/*Ranking part*/
.ranking-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    flex-wrap: wrap;
}

.ranking {
    padding-right: 30px;
    position: relative;
}

.picture {
    height: 230px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    z-index: 5;
    cursor: pointer;
}

.picture-container:hover {
    transform: scale(0.95);
}

.ranking-badge {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
}

#ranking-badge1 {
    background-image: url("/static/images/rankingBadge1.png");
}

#ranking-badge2 {
    background-image: url("/static/images/rankingBadge2.png");
}

#ranking-badge3 {
    background-image: url("/static/images/rankingBadge3.png");
}

#ranking-badge {
    background-color: rgba(0,0,0,.2);
}

.ranking-letter {
    font-size: 18px;
    padding-left: 11px;
    padding-top: 4px;
    color: #fff;
}

.btn-container {
    position: fixed;
    background-color: #e31837;
    color: white;
    display: grid;
    align-items: center;
    text-align: center;
    right: 1rem;
    bottom: 2rem;
    padding: 10px 15px;
    border-radius: 20px;
    box-shadow: 0 0 10px #3e3e3e;
    cursor: pointer;
    z-index: 5;
}

.btn-container:hover {
    background-color: #d3001b;
    transform: scale(0.9);
}

#request-message {
    display: none;
}


/*------------ Responsive ------------*/
@media screen and (max-width: 640px) {
    .btn-container {
        height: 80px;
        width: 80px;
        border-radius: 50%;
        padding:0;
    }
    .btn-container span {
        display: none;
    }
    #request-message {
        display: block;
    }
}