h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
    margin: auto;
}
body, h1, h2, h3, h4, h5, h6, p, button, select {
    margin: 0;
}
form {
    display: block;
    margin-top: 0;
}

/*------------ Header ------------*/
.main-header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    height: 50px;
    font-size: 13px;
    color: #2d2d2d;
    background-color: #efefef;
}

.main-header-container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    padding: 0;
}

/* Header Left */
.main-header-logo {
    display: flex;
    align-items: center;
}

.main-header-logo-trigger {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

    width: 150px;
    background-image: url("../images/siteLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    z-index: 999;
}

/* Header Middle */
.main-header-search {
    display: flex;
    align-items: center;
    width: 420px;
}

.main-header-search-form {
    position: relative;
    width: 100%;
}

.main-header-search-label {
    position: relative;
}

.main-header-search-icon {
    position: relative;
    margin-right: -25px;
    color: #2d2d2d;
    width: 20px;
    height: 20px;
    z-index: 100;
}

.main-header-search-input {
    width: 100%;
    height: 30px;
    padding: 0 35px 0 38px;
    font-size: 12px;
    font-weight: bold;
    line-height: 30px;
    background-color: #fff;
    border: 0;
    outline: 0;
    border-radius: 8px;
}

.main-header-search-button {
    position: absolute;
    align-items: center;
    width: 18px;
    height: 18px;
    margin-left: -26px;
    margin-top: 6px;
    background-color: rgba(0, 0, 0, 20%);
    border: 0;
    border-radius: 100%;

    background-image: url("../images/deleteLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
}

/* Header Right */
.main-header-controller {
    position: relative;
    display: flex;
    justify-content: space-between;
}

    /*login*/
.main-header-controller-login {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    margin-right: 30px;
}

.main-header-controller-login-logo {
    position: relative;
    display: flex;
    align-items: center;
    pointer-events: none;
    cursor: pointer;

    height: 100%;
    width: 35px;
    background-image: url("../images/loginLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    z-index: 100;
}

.logined-username {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    margin-right: 30px;
    font-size: 14px;
}

    /*fav*/
.main-header-favorite {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
    margin-right: 30px;

    width: 20px;
    background-image: url("../images/favLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    z-index: 100;
}

    /*account*/
.main-header-controller-user-account {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;

    width: 40px;
    background-image: url("../images/accountLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    z-index: 100;
}

/*------------ Main ------------*/

/*Headline part*/
.headline {
    text-align: center;
    padding: 10px;
}

/*Ranking part*/
.ranking-container {
    position: relative;
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.ranking {
    padding-right: 30px;
    position: relative;
}

.picture {
    height: 230px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.ranking-badge {
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#ranking-badge1 {
    background-image: url("/static/images/rankingBadge1.png");
}

#ranking-badge2 {
    background-image: url("/static/images/rankingBadge2.png");
}

#ranking-badge3 {
    background-image: url("/static/images/rankingBadge3.png");
}

#ranking-badge {
    background-color: rgba(0,0,0,.2);
}

.ranking-letter {
    font-size: 18px;
    padding-left: 11px;
    padding-top: 4px;
    color: #fff;
}

/*------------ Footer ------------*/
footer {
    background-color: #3e3e3e;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}