<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>What's the BEST keyboard</title>
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
</head>

<body>
    <div id="body-container">

<!--header-->
        <header class="main-header">
            <div class="main-header-container">
                <!--Header Left-->
                <img id="favicon" src="/static/images/favicon.png" alt="website icon" onclick="submitHomeForm()">
                <form class="main-header-logo" id="home" action="/" method="get" onclick="submitHomeForm()">
                    <div class="main-header-logo-trigger"></div>
                </form>

                <!--Header Middle-->
                <div class="main-header-search">
                    <img class="main-header-search-icon" src="/static/images/searchLogo.png" aria-label="search" aria-hidden="false" alt="search-icon" onclick="searchKeyboard()">
                    <form id="main-header-search-form" action="/search" method="get" role="search" data-container="search-form">
                        <div class="main-header-search-div" data-container="search-div" data-input="true">
                            <label class="main-header-search-label">
                                <input class="main-header-search-input" type="search" name="searchKey" value id="searchText" autocomplete="off" data-trigger="searchFromAllItems">
                            </label>
                        </div>
                    </form>
                </div>

                <!--Header Right-->
                <div class="main-header-controller">
                    <div id="login-switch">

                    </div>
                    <div class="main-header-controller-fav" id="favoriteLink">

                    </div>
                    <div id="account">

                    </div>
                </div>
            </div>
        </header>
<!--main-->
        <main>

            <div class="headline">
                <p>Top Ranking</p>
            </div>

            <div class="container-for-ranking">

                <div class="ranking-container">
                    {{range .}}
                        {{if eq .Ranking "1"}}
                            <div class="ranking">
                                <form action="/keyboarddetail" method="get" id=rank1>
                                    <div class="picture-container">
                                        <img class="picture" src={{.Url}} alt="keyboard image" onclick="keyboardDetail('{{js .Ranking}}')">
                                        <div class="ranking-badge" id="ranking-badge1">
                                            <p class="ranking-letter"><input hidden="hidden" name="ranking" value={{.Ranking}}>{{.Ranking}}</p>
                                        </div>
                                    </div>
                                    <div class="make">{{.Make}}</div>
                                    <div class="description"><input hidden="hidden" name="name" value={{.Name}}>{{.Name}}</div>
                                    <div class="price">{{.Price}}</div>
                                    <div class="score">Score: {{.Score}} /10 &nbsp; (# Votes: {{.NumVotes}})</div>
                                </form>
                            </div>
                        {{else if eq .Ranking "2"}}
                            <div class="ranking">
                                <form action="/keyboarddetail" method="get" id=rank2>
                                    <div class="picture-container">
                                        <img class="picture" src="{{.Url}}" alt="keyboard image" onclick="keyboardDetail('{{js .Ranking}}')">
                                        <div class="ranking-badge" id="ranking-badge2">
                                            <p class="ranking-letter"><input hidden="hidden" name="ranking" value={{.Ranking}}>{{.Ranking}}</p>
                                        </div>
                                    </div>
                                    <div class="make">{{.Make}}</div>
                                    <div class="description"><input hidden="hidden" name="name" value={{.Name}}>{{.Name}}</div>
                                    <div class="price">{{.Price}}</div>
                                    <div class="score">Score: {{.Score}} /10 &nbsp; (# Votes: {{.NumVotes}})</div>
                                </form>
                            </div>
                        {{else if eq .Ranking "3"}}
                            <div class="ranking">
                                <form action="/keyboarddetail" method="get" id=rank3>
                                    <div class="picture-container">
                                        <img  class="picture" src={{.Url}} alt="keyboard image" onclick="keyboardDetail('{{js .Ranking}}')">
                                        <div class="ranking-badge" id="ranking-badge3">
                                            <p class="ranking-letter"><input hidden="hidden" name="ranking" value={{.Ranking}}>{{.Ranking}}</p>
                                        </div>
                                    </div>
                                    <div class="make">{{.Make}}</div>
                                    <div class="description"><input hidden="hidden" name="name" value={{.Name}}>{{.Name}}</div>
                                    <div class="price">{{.Price}}</div>
                                    <div class="score">Score: {{.Score}} /10 &nbsp; (# Votes: {{.NumVotes}})</div>
                                </form>
                            </div>
                        {{end}}
                    {{end}}
                </div>
                <div class="ranking-container">
                    {{range .}}
                        {{if ge .Ranking "4"}}
                            <div class="ranking">
                                <form action="/keyboarddetail" method="get" id="rank{{.Ranking}}">
                                    <div class="picture-container">
                                        <img class="picture" src={{.Url}} alt="keyboard image" onclick="keyboardDetail('{{js .Ranking}}')">
                                        <div class="ranking-badge" id="ranking-badge">
                                            <p class="ranking-letter"><input hidden="hidden" name="ranking" value={{.Ranking}}>{{.Ranking}}</p>
                                        </div>
                                    </div>
                                    <div class="make">{{.Make}}</div>
                                    <div class="description"><input hidden="hidden" name="name" value={{.Name}}>{{.Name}}</div>
                                    <div class="price">{{.Price}}</div>
                                    <div class="score">Score: {{.Score}} /10 &nbsp; (# Votes: {{.NumVotes}})</div>
                                </form>
                            </div>
                        {{end}}
                    {{end}}
                </div>

            </div>

            <div class="btn-container" onclick="newKeyboardRequest()">
                <span>NOT FIND YOUR FAVORITE KEYBOARD?</span>
                <span>REQUEST FROM HERE!!</span>
                <div id="request-message">Request a new Keyboard</div>
            </div>

        </main>
<!--footer-->
        <footer>
            <p>Copyright 2023 What's the Best Keyboard. All rights reserved.</p>
        </footer>
    </div>

    <script src="/static/js/header0.js"></script>
    <script src="/static/js/home.js"></script>
    <link rel="stylesheet" href="/static/css/header0.css">
    <link rel="stylesheet" href="/static/css/header.css">
    <link rel="stylesheet" href="/static/css/home.css">
    <link rel="stylesheet" href="/static/css/footer.css">
</body>
</html>